<div class="custom-container">
    


<section class="p-grid business-container">
    <div class="p-col-12">
        <p>Wykonywana przeze mnie sesja zdjęciowa dla par w Poznaniu to coś więcej niż tylko zestaw zdjęć. To okazja do odkrywania Waszych unikalnych historii oraz do uchwycenia tych drogocennych chwil, które sprawiają, że Wasza miłość płonie jasno i mocno. Każda wykonana przeze mnie sesja zdjęciowa dla par i narzeczonych w Poznaniu to szansa na stworzenie niepowtarzalnej pamiątki i niezapomnianych wspomnień, które będziecie
            mogli pielęgnować przez lata.</p>
    </div> <!-- Puste kolumny po bokach -->

</section>

</div>

<app-portfolio [images]="images"> </app-portfolio>
<div class="custom-container">
    




</div>

